// Colors

$black : #000;
$lightBlue: #79B4B7;
$orange: #EFC56D;
$mobileNavBarColor: #FFDB59;
$homeBackground: #F8F0DF;

// Resolutions

$mobile: 480px;
$tablet: 800px;
$desktop: 1170px;

// Fuentes

$delgada: 300;
$regular : 400;
$bold: 700;
$sans: 'Source Sans Pro', sans-serif;
$vietnam: 'Be Vietnam', sans-serif;