// Colors

$black : #000;
$lightBlue: #79B4B7;
$orange: #EFC56D;

// Resolutions

$mobile: 480px;
$tablet: 760px;
$desktop: 1024px;

// Fuentes

$delgada: 300;
$regular : 400;
$bold: 700;
$sans: 'Source Sans Pro', sans-serif;