// NavBar basics
.header {
    width: 100%;
    padding: 1.5rem 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    .header__nav {
        width: 40rem;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        @include tablet {
            display: none;
        }
        .header__nav__link {
            display: block;
            width: 8rem;
            text-decoration: none;
            color: $black;
            font-family: $sans;
            font-size: 1.8rem;
            padding: 2.5rem 0;
            color: $lightBlue;
            transition: all 300ms;
            &:hover {
                transform: scale(1.2);
            }
        }
    }
}

.header__logo {
    width: 15%;
    display: block;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    .header__logo__img {
        border-radius: 2rem;
    }
    .header__logo__text {
        font-size: 2.5rem;
        font-weight: 800;
        text-shadow: 1px 1px 2px #000;
    }
}

.header__button {
    margin: 1rem;
    width: 14rem;
    padding: 1.5rem 2rem;
    border: none;
    border-radius: 2rem;
    font-family: $sans;
    font-size: 2rem;
    &:hover {
        box-shadow: 2px 2px 2px rgb(134, 119, 119);
        cursor: pointer;
    }
}