.disabled {
    display: none;
}
.animation{
    animation: init 300ms linear 0s 1 normal;
}
@keyframes init {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0.5;
    }
    100% {
        opacity: 1;
    }
}
// Mobile Nav bar
@keyframes offNav {
    0% {
        clip-path: circle(100% at 50%);
    }
    50%{
        clip-path: circle(50% at 50%);
    }
    100%{
        clip-path: circle(10% at 50%);
    }
}
@keyframes newNav {
    0% {
        clip-path: circle(10% at 50%);
    }
    50%{
        clip-path: circle(50% at 50%);
    }
    100%{
        clip-path: circle(100% at 50%);
    }
}
.enabled {
    display: block;
    animation: newNav .5s linear 1 normal;
}
.closing {
    animation: offNav .5s linear 1 normal;
}